/* .dropdown{
  display : inline-block;
}

.dropdown-content{
  display : none;
  z-index : 1; 
}

.dropdown-content a{
  display : block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  color: red;
} */
* {
  margin: 0;
}

.flex {
  display: flex;
  width: 100%;
}
.a {
  width: 10%;
  height: 600px;
  position: fixed;
  background-color: rebeccapurple;
  overflow-y: auto;
}
.b {
  width: 10%;
  
}
.c {
  width: 10%;
  height: 800px;
  background-color: blue;
}