* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 87.5rem;
}

.container {
  display: flex;
  gap: 1.25rem;
  margin: 0 auto;
}

.mall-section {
  flex: 1;
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.75rem;
}

/* 헤더 부분 */
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.9375rem;
}
.header-row h2 {
  font-size: 1.125rem;
  font-weight: 400;
}
.more-link {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  text-decoration: none;
  color: #666;
}

.banner {
  padding: 1.875rem;
  border-radius: 0.9375rem;
  height: 12.5rem;
  margin-bottom: 1.25rem;
  color: #333;
}

.yellow-bg {
  background-color: #ffd200;
}

.blue-bg {
  background-color: #007aff;
  color: #fff;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 0.0625rem solid #eee;
  padding-bottom: 1.25rem;
  color: #666;
}

.select--green {
  background-color: #11d70d;
  padding: 0.625rem 1.875rem;
  color: #fff;
  border-radius: 1.5625rem;
}

.select--purple {
  background-color: #540ea3;
  padding: 0.625rem 2.5rem;
  color: #fff;
  border-radius: 1.5625rem;
}

.tabs__pipe {
  color: #ddd;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6.25rem 6.25rem 6.25rem;
  gap: 0.625rem;
  margin: 0.625rem 0;
}

.product__item {
  display: flex;
  justify-content: space-around;
}

.product__item > *:first-child {
  width: 6.25rem;
  height: 6.25rem;
  border: 0.0625rem solid #c5c5c5;
  border-radius: 0.625rem;
}

.product__info {
  font-size: 0.875rem;
}

.font--red {
  color: red;
}

.font--grey {
  color: #666;
}

.font--0.75rem {
  font-size: 0.75rem;
}

.font--1rem {
  font-size: 1rem;
}

.font--bold {
  font-weight: bold;
}

.line--through {
  text-decoration: line-through;
}

.view-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  margin-top: 0.625rem;
  border: 0.0625rem solid #ddd;
  border-radius: 1.5625rem;
  background-color: #fafafa;
}

.circle--green {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(./img/sprite__homemain.svg); /* 이미지 경로 */
  background-repeat: no-repeat;

  /* 핵심: 아이콘의 위치만큼 좌표를 이동시킵니다. */
  /* 아래 좌표값은 예시이며, 실제 위치에 맞춰 조정이 필요합니다. */
  background-position: 0rem -2.625rem;
  margin-left: 0.3125rem;
}
