body {
    background-color: #555;
    width: 680px;
    margin: 0 auto;
    background-image: url(./bg_tx.svg);
}

.main {
    background-color: #fff;
}

#header {
    background-color: #fed50a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header div{
    margin: 3px 5px;
}

.header-div {
    border: 1px solid #c6a500;
    border-radius: 3px;
    padding: 0 4px;
    color: #fff;
}

.banner-details {
    display: flex;
}

#navigator {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.issue{
    border-bottom: 2px solid #f00;
}

.container-main {
    display: block;
}

.container-main-div {
    display: flex;
}

.container-main-div div{
    margin-left: 10px;
}

.view-count {
    color: red;
}

.second {
    font-size: 12px;
}

.writer {
    color: rgb(182, 58, 1);
}

.grey {
    color: #888787;
}

.logo-img{
    background-image: url(./common.1px.webp);
    background-position: 0px 0px;
    width: 82px;
    height: 35px;
}

.shopping-logo{
    filter: invert(100%);
}

.write-logo{
    background-image: url(./common.1px.webp);
    background-position: -41px -38px;
    width: 33px;
    height: 29px;
}