* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ccc;
}

.wrapper {
  background-color: #fff;

  width: 100%;
  max-width: 1400px;
  min-width: 900px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

.input-form > button {
  flex-basis: 100px;
  flex-shrink: 0;
  background-color: #eee;
  padding: 10px;
  border: 0;
  border-radius: 8px;
}

.input-form > input[type="text"] {
  flex-grow: 1;
  padding: 0 10px;
  border-radius: 8px;
  border: 0;
  border-bottom: 1px solid #eee;
}

.input-form > input[type="text"]:focus {
  box-shadow: 0 0 10px #6a6aef;
  outline: 0;
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list > li {
  padding: 5px 10px;
}

.list > li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
