.fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #18191b;
}

.header {
  height: 10%;
  margin: 0.5rem 10%;
  font-weight: 500;
}

.main-nav {
  padding: 0.3125rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav > a {
  display: flex;
  text-align: center;
  vertical-align: middle;
}

.main-nav-category {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.main-nav-category > a {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.3125rem;
}

.main-nav-right {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 8%;
}

.search-img {
  display: flex;
  justify-content: space-between;
  width: 3.75rem;
  border: 0.0625rem solid #777;
  border-radius: 3.125rem;
  padding: 0.1875rem 0.3125rem 0.1875rem 0.625rem;
}

.sign-in-img {
  padding-right: 0;
}

.sub-nav {
  border-top: 0.0625rem solid #acacac7e;
  border-bottom: 0.0625rem solid #acacac7e;
  background-color: #212426;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.sub-nav > * {
  margin: 0 10%;
  display: flex;
  align-items: center;
}

.sub-nav-right > a {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.3125rem;
}

.sub-nav-right > a:first-child {
  margin-right: 1.25rem;
}

.sub-nav-right > a > img:first-child {
  padding-right: 0.625rem;
}

.containor {
  color: #fff;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  padding-top: 6.25rem;
}

.side-nav {
  width: 17%;
  height: 100%;
  overflow-y: auto;
  position: fixed;
}

.side-blank {
  height: 3.125rem;
}

.blank {
  width: 21%;
}

.side-nav > * {
  display: flex;
  align-items: center;
}

.side-nav > div {
  padding: 0.3125rem 0;
  padding-right: 1.25rem;
  margin: 0.5625rem 0;
  cursor: pointer;
}

.side-nav > .depth2 {
  margin-left: 1.25rem;
}

.fixed {
  padding-top: 0.625rem;
  position: fixed;
  background-color: #18191b;
  z-index: 1;
  width: 16%;
}

.side-nav-filter {
  border: 0.0625rem solid #acacac7e;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  width: 80%;
}

.gradation {
  height: 1.875rem;
  width: 16%;
  background: linear-gradient(to bottom, #18191b 0%, #18191b00 100%);
}

.side-nav-filter > img {
  padding: 0.3125rem 0.625rem;
}

.filter {
  width: 50%;
  background-color: #18191b;
  border: none;
  font-size: 1.25rem;
  color: #fff;
}

.filter:focus {
  outline: none;
}

.side-nav-filter:has(.filter:focus) {
  border: 0.0625rem solid #fff;
}

.filter::placeholder {
  color: #d7d7d7;
  font-weight: 500;
  font-size: 1rem;
}

.relative {
  position: relative;
}

.small-font {
  font-size: 0.625rem;
  position: absolute;
}

.grey-hover:has(.underline:hover) {
  background-color: transparent;
}

.lightblue-hover:hover {
  color: #a4cefe;
}

.depth2 {
  margin-left: 1.875rem;
}

.align {
  display: flex;
  align-items: center;
}

.trash {
  padding-left: 1.875rem;
}

.main-content {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.main-content > * {
  width: 90%;
}

.now-nav {
  width: 20%;
}

.main-box {
  width: 90%;
  background-color: #072446;
  border-left: 0.125rem solid #a4cefe;
  margin-top: 0.625rem;
  padding: 0.625rem 0;
}

.box1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.box1 > * {
  margin: 0.3rem 0.3rem;
}

.box1 > *:first-child {
  margin-left: 0.5rem;
  margin-top: 0.625rem;
}

.box2 {
  display: flex;
  justify-content: flex-end;
  margin: 0.625rem 0.625rem 0.625rem 0;
}

.box2 > * {
  padding: 0.375rem 0.625rem;
  font-size: 0.875rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.box2 > *:first-child {
  background-color: #fff;
  color: #18191b;
}

.button-style {
  border-radius: 0.3rem;
}

.span-blue-underline {
  color: #90b4de;
  text-decoration: underline;
  cursor: pointer;
}

.main-title {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.main-sub-title {
  font-size: 2rem;
  margin: 1.5rem 0 0.5rem 0;
  cursor: pointer;
  position: relative;
}

.main-sub-title:hover::before {
  content: "#";
  position: absolute;
  left: -1.5rem;
  top: 0.3rem;
  font-size: 1.6rem;
  color: #d7d7d7;
}

.main-summary {
  margin: 1.5rem 0;
}

.div-table {
  display: grid;
  grid-template-columns: 15% 85%;
  border-top: 0.0625rem solid #acacac7e;
  border-left: 0.0625rem solid #acacac7e;
}

.div-table > div {
  border-right: 0.0625rem solid #acacac7e;
  border-bottom: 0.0625rem solid #acacac7e;
  padding: 1rem;
}

.div-table > div:nth-child(4n + 3),
.div-table > div:nth-child(4n + 4) {
  background-color: #212426;
}

.div-table > div:nth-child(2n + 3) {
  top: 2.5rem;
}

.now-nav {
  position: relative;
}

.now-nav-top {
  margin: 1rem 0;
  font-size: 1.5rem;
  position: fixed;
}

.now-nav-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  margin-top: 4rem;
}

.now-nav-title > * {
  border-left: 0.15rem solid #777;
  padding: 0.27rem 0.7rem;
}

.now-nav-title > *:hover {
  text-decoration: underline;
  color: #a4cefe;
}

.select-box-blue {
  background-color: #072446;
  padding: 0.27rem 0.7rem;
  border-left: 0.125rem solid #0a5dbd;
}

.select-box-blue:hover {
  color: #fff;
}

.tag-style {
  background-color: #2d3034;
  border-radius: 0.3125rem;
  padding: 0.0625rem 0.3125rem;
}
